body {
    background-image:url("../images/background.png");
}

.nav-wrapper{
    background-color: #228765;
    font-size: 40px;
    font-family: "Calibri";
  
}

#nav-mobile{
  margin-top: -10px;
}

 .headbanner {
     
     padding: 50px;
     margin-top: -30px; 
     
 }

a.directions {
  color: #53db50;
  font-weight: bold;

}

a.rest-overview {
  color: #53db50;
  font-weight: bold;

}

a:hover {
    text-decoration:none;
}


 h1 {
    font-family: 'Convergence', sans-serif;
     text-align: center;
     font-size: 6em;
     color: white;
     margin-top: 05px;
    padding: 10px;

 }

 .subhead {
     font-family: 'Josefin Sans', sans-serif;;
     text-align: center;
     font-size: 3em;
     color: white;
     letter-spacing:  14px;
     margin-top: -50px;
 }


#modal1, #modal2 {
     font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    background:black;
    padding:15px;
    margin-top: -300px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    height:100%;
    z-index: 10;
    overflow: hidden;
    text-align:center;
}

#favNav {

    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    background:black;
    padding:15px;
    margin-top: -300px;
    width:100%;
    height:100%;
    z-index: 10;
    overflow: hidden;
    text-align:center;
}

#modal1, #modal2, #favNav{
    display: none;
}

#favRecipe {
    color: grey;
    font-size: 1em;

}

#favRest {
    color: grey;
    font-size: 1em;

}
input {
    text-align: center;
}

.row {
    margin:0 auto;
    text-align:center;
    position:relative;
}

 #in, #out, #either {
    display:inline-block;
    width: 210px;
    height:300px;
    text-align:center;
    margin-left: 15px;
    margin-top: -20px;
    background-color:#53db50;
    border-radius: 10px;
    overflow: hidden;

    
 }
 #in {
    position:absolute;
    left:20%;
 }
 #out {
    position:absolute;
    left:40%;
 }
 #either {
    position:absolute;
    left:60%;
 }

#in:hover, #out:hover, #either:hover{
    cursor:pointer;
}

.favesBtn{
  background: rgba(255,255,255,0);
  border:none;
  font-size: 1.5em;
}

.favesBtn:focus{
  background: rgba(255,255,255,0);
}

 h2 {
    margin-top: 90px;
     letter-spacing: 3px;
     font-size: 4em;
     font-family: 'Passion One', cursive;
     color:white;
 }

h3{
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    font-size:2em;
    margin-top: 80px;
}

h4{
   font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    font-size:2em;
    text-align: left;
}

.option {
    font-family: 'Passion One', cursive;
    font-size: 2.5em;
    color: white;
    text-align: center;
}
form.zip-form {
    visibility:hidden;
    display:inline;
}

.table {
    width: 95%;
    margin: 20px auto;
    text-align: left;
    background: #f5f5f5;
    color: black;
    border-radius: 10px;
}

.table:hover {
    cursor:default;
}
.table-row {
    margin: 5px 0;
}

.table>tbody>tr>th {
    border-top:none;
}

/************Materialize Styles************/
#ingredient-submit, #city-submit, #zip-submit {
    outline: transparent;
}
.row .col.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.input-field label {
  color: white;
}
input[type=text], input[type=password] {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
}

.container{
  width:50%;
}
.chip {
    border: none;
}

/************Go Out Styles************/
#location-results {
    margin-top: 20px;
}
.rest-image {
    width: 90px;
    height: 60px;
}
.sort-price:hover, .sort-rating:hover {
    color: #ccc;
    cursor: pointer;
}

.black {
    color: #000;
}

#logout {
    display: none;
}

#favs {
    display: none;
}

#welcome {
    display: none;
}

@media screen and (max-width: 1055px) {

    #in, #out, #either {
    width: 180px;;
  }

    h1{
    font-family: 'Convergence', sans-serif;
    text-align: center;
    font-size: 5em;
    color: white;
    margin-top: 05px;
    padding: 10px;
  }

    h2{
     margin-top: 110px;
     letter-spacing: 3px;
     font-size: 3em;
     font-family: 'Passion One', cursive;
     color:white;

  }
    
    .subhead{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 2.5em;
    color: white;
    letter-spacing: 14px;
    margin-top: -50px;
    }



@media screen and (max-width: 915px){
    #in, #out, #either {
    display: block;
    width: 180px;
    height: 180px;
    text-align: center;

    margin-left: 40%;
    margin-top: 20px;
    background-color: #53db50;
    border-radius: 10px;
    overflow: hidden;
    position:static;
}


    h2{

    margin-top: 55px;
    letter-spacing: 3px;
    font-size: 3em;
    font-family: 'Passion One', cursive;
    color: white;

    }


}